#btnScrollToTop,
#btnScrollToBottom {
  display: none;
  position: fixed;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: rgba(223, 223, 223, 0.7);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#btnScrollToTop {
  top: 150px;
}

#btnScrollToBottom {
  bottom: 150px;
}

#btnScrollToTop:hover,
#btnScrollToBottom:hover {
  background-color: #919191;
}